<% include ../_layouts/header %>
<div class="banner">
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive"	src="/client/images/ba1.jpg" alt="">
    </div>
    <div class="col-sm-6 matter-banner">
         <div class="slider">
            <div class="callbacks_container">
                  <ul class="rslides" id="slider">
                    <li>
                          <img src="/client/images/1.jpg" alt="">
                        </li>
                      <li>
                          <img src="/client/images/2.jpg" alt="">   
                        </li>
                     <li>
                          <img src="/client/images/1.jpg" alt="">
                    </li>	
                  </ul>
              </div>
        </div>
    </div>
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="/client/images/ba.jpg" alt="">
    </div>
    <div class="clearfix"> </div>
</div>
<!--//banner-->
<!--content-->
<div class="content">
 <div class="container">
    <div class="content-top">
        <div class="new">
            <h1>News product</h1>
            <div class="content-top1">
                <% newProducts.forEach(function(product){ %>
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                        <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal17" class="offer-img">
                        <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                            </div>
                            <div class="mid-2">
                                <p ><em class="item_price">$<%= product.price %></em></p>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="add add-2">
                                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                            </div>
                        </div>
                        </div>
                    </div>
                <% }); %>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="best_sellers">
            <h1>Best-selling product</h1>
            <div class="content-top1">
                    <% bestSellingProducts.forEach(function(product){ %>
                        <div class="col-md-3 pro-1">
                            <div class="col-m">
                            <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal17" class="offer-img">
                            <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                                </div>
                                <div class="mid-2">
                                    <p ><em class="item_price">$<%= product.price %></em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="add add-2">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% }); %>
                    <div class="clearfix"> </div>
                </div>
        </div>
        <div class="top_views">
            <h1>Top view product</h1>
            <div class="content-top1">
                    <% topViewProducts.forEach(function(product){ %>
                        <div class="col-md-3 pro-1">
                            <div class="col-m">
                            <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal17" class="offer-img">
                            <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                                </div>
                                <div class="mid-2">
                                    <p ><em class="item_price">$<%= product.price %></em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="add add-2">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Add to Cart</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% }); %>
                    <div class="clearfix"> </div>
                </div>
        </div>
    </div>
 </div>
</div>
<% include ../_layouts/footer %>