<% include ../_layouts/header %>
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">                   
                    <div id="picture-frame">
                        <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" data-src="images/si-1.jpg" alt="" class="img-responsive"/>
                    </div>
                    <script src="/client/js/jquery.zoomtoo.js"></script>
                    <script>
                    $(function() {
                        $("#picture-frame").zoomToo({
                            magnify: 1
                        });
                    });
                    </script>
                </div>
            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3><%= product.name %></h3>  
                     <div class="pr-single">
                        <p class="reduced">$<%= product.price %></p>
                    </div>
                    <div class="block block-w3">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <p class="in-pa">
                        <%= product.description %><br>
                        <span class="fa fa-eye">
                            <%= product.view_count %>
                        </span>
                        <span class="fa fa-shopping-basket">
                            <%= product.quantity %>
                        </span>
                        <span class="fa fa-share">
                            <%= product.sales_count %>
                        </span>
                    </p>
                    <div class="parent">
                        <a  href="/products/category/<%= category.meta_title %>"><%= product.parent_category %></a>
                        <a  href="/products/producer/<%= company.meta_title  %>"><%= product.parent_company %></a>
                    </div>
                    </div>
                    <br><br>
                    <div class="add add-3">
                        <% if(product.quantity > 0) { %>
                            <% if(loggedIn) { %>
                                <a href="/cart/add/<%= product.meta_title %>" class="btn btn-danger my-cart-btn my-cart-b">Add to Cart</a>
                            <% }else { %>
                                <span class="m_link"><a href="/users/login">login to add cart</a> </span>
                            <% } %>
                        <% }else { %>
                            <span class="m_link"><a href="/contact">Product of current is empty,Contact us </a> </span>
                        <% } %>

                    </div>
                <div class="clearfix"> </div>
                </div>
                </div>
               <div class="clearfix"> </div>
           </div>    
    </div>
</div>
<div class="content-top offer-w3agile">
        <div class="container ">
            <div class="same_category_label">
                <h3 class="text-center">Product of Same Category</h3>
            </div><br>
            <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
            </div><br><br>
            <% if(sameProducts == "") { %>
                <h4 class="text-center">There are no Product</h4>
            <% }else { %>
           <div class=" con-w3l wthree-of">
            <% sameProducts.forEach(function(product){ %>
              <div class="col-md-3 pro-1">
                 <div class="col-m">
                    <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal5" class="offer-img">
                       <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                    </a>
                    <div class="mid-1">
                       <div class="women">
                          <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                       </div>
                       <div class="mid-2">
                          <p ><em class="item_price">$<%= product.price  %></em></p>
                          <div class="block">
                             <div class="starbox small ghosting"> 
                                <span class="fa fa-eye">
                                    <%= product.view_count %>
                                </span>
                                <span class="fa fa-shopping-basket">
                                    <%= product.quantity %>
                                </span>
                             </div>
                          </div>
                          <div class="clearfix"></div>
                       </div>
                       <div class="add">
                            <a href="/single/<%= product.meta_title %>" class="btn btn-danger my-cart-btn my-cart-b">View Detail</a>
                       </div>
                    </div>
                 </div>
              </div>
            <% }); %>
            <% } %>
           </div>
        </div>
        <div class="container ">
                <div class="same_category_label">
                    <h3 class="text-center">Product of Same Producer</h3>
                </div><br>
                <div class="ser-t">
                        <b></b>
                        <span><i></i></span>
                        <b class="line"></b>
                </div><br><br>
                <% if(sameCompanyProduct == "") { %>
                    <h4 class="text-center">There are no Product</h4>
                <% }else { %>
               <div class=" con-w3l wthree-of">
                <% sameCompanyProduct.forEach(function(product){ %>
                  <div class="col-md-3 pro-1">
                     <div class="col-m">
                        <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal5" class="offer-img">
                           <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                           <div class="women">
                              <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                           </div>
                           <div class="mid-2">
                              <p ><em class="item_price">$<%= product.price  %></em></p>
                              <div class="block">
                                 <div class="starbox small ghosting"> 
                                    <span class="fa fa-eye">
                                        <%= product.view_count %>
                                    </span>
                                    <span class="fa fa-shopping-basket">
                                        <%= product.quantity %>
                                    </span>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                           <div class="add">
                                <a href="/single/<%= product.meta_title %>" class="btn btn-danger my-cart-btn my-cart-b">View Detail</a>

                           </div>
                        </div>
                     </div>
                  </div>
                <% }); %>
                <% } %>
               </div>
            </div>
    </div>         
<% include ../_layouts/footer %>