<% include ../_layouts/header %>
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">                   
                    <div id="picture-frame">
                        <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" data-src="images/si-1.jpg" alt="" class="img-responsive"/>
                    </div>
                    <script src="js/jquery.zoomtoo.js"></script>
                    <script>
                    $(function() {
                        $("#picture-frame").zoomToo({
                            magnify: 1
                        });
                    });
                    </script>
                </div>
            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3><%= product.name %></h3>  
                     <div class="pr-single">
                        <p class="reduced">$<%= product.price %></p>
                    </div>
                    <div class="block block-w3">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <p class="in-pa">
                        <%= product.description %>
                    </p>

                    <p class="in-pa">
                        Quantity: <%= product.quantity %></br>
                        ViewCount: <%= product.view_count %>
                    </p>
                    <a href="/products/category/<%= category.meta_title %>"><%= product.parent_category %></a> |
                    <a href="/products/producer/<%= company.meta_title  %>"><%= product.parent_company %></a>
                    <div class="add add-3">
                        <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="Wheat" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/si.jpg">Add to Cart</button>
                    </div>
                <div class="clearfix"> </div>
                </div>
                </div>
               <div class="clearfix"> </div>
           </div>    
    </div>
</div>
<div class="content-top offer-w3agile">
        <div class="container ">
            <div class="same_category_label">
                <h3 class="text-center">Product of Same Category</h3>
            </div><br>
            <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
            </div><br><br>
            <% if(sameProducts == "") { %>
                <h4 class="text-center">There are no Product</h4>
            <% }else { %>
           <div class=" con-w3l wthree-of">
            <% sameProducts.forEach(function(product){ %>
              <div class="col-md-3 pro-1">
                 <div class="col-m">
                    <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal5" class="offer-img">
                       <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                    </a>
                    <div class="mid-1">
                       <div class="women">
                          <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                       </div>
                       <div class="mid-2">
                          <p ><em class="item_price">$<%= product.price  %></em></p>
                          <div class="block">
                             <div class="starbox small ghosting"> </div>
                          </div>
                          <div class="clearfix"></div>
                       </div>
                       <div class="add">
                          <button class="btn btn-danger my-cart-btn my-cart-b" data-id="5" data-name="Lays" data-summary="summary 5" data-price="0.70" data-quantity="1" data-image="images/of4.png">Add to Cart</button>
                       </div>
                    </div>
                 </div>
              </div>
            <% }); %>
            <% } %>
           </div>
        </div>
        <div class="container ">
                <div class="same_category_label">
                    <h3 class="text-center">Product of Same Producer</h3>
                </div><br>
                <div class="ser-t">
                        <b></b>
                        <span><i></i></span>
                        <b class="line"></b>
                </div><br><br>
                <% if(sameCompanyProduct == "") { %>
                    <h4 class="text-center">There are no Product</h4>
                <% }else { %>
               <div class=" con-w3l wthree-of">
                <% sameCompanyProduct.forEach(function(product){ %>
                  <div class="col-md-3 pro-1">
                     <div class="col-m">
                        <a href="/single/<%= product.meta_title %>" data-toggle="modal" data-target="#myModal5" class="offer-img">
                           <img src="/admin/images/product_images/product<%= product.id %>/<%= product.image %>" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                           <div class="women">
                              <h6><a href="/single/<%= product.meta_title %>"><%= product.name %></a></h6>
                           </div>
                           <div class="mid-2">
                              <p ><em class="item_price">$<%= product.price  %></em></p>
                              <div class="block">
                                 <div class="starbox small ghosting"> </div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                           <div class="add">
                              <button class="btn btn-danger my-cart-btn my-cart-b" data-id="5" data-name="Lays" data-summary="summary 5" data-price="0.70" data-quantity="1" data-image="images/of4.png">Add to Cart</button>
                           </div>
                        </div>
                     </div>
                  </div>
                <% }); %>
                <% } %>
               </div>
            </div>
    </div>         
<% include ../_layouts/footer %>