<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link href="/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/client/js/jquery.min.js"></script>
      <!-- Custom Theme files -->
      <!--theme-style-->
      <link href="/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
      <link href="/client/css/product.css" rel="stylesheet" type="text/css" media="all"/>
      <!--//theme-style-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <!--menu2-->
      <link href="/client/css/style1.css" rel="stylesheet" type="text/css" media="all" />
      <link href="/client/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
      <script type="text/javascript" src="/client/js/megamenu.js"></script>
      <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
      <script src="/client/js/responsiveslides.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
      <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
      <script>
         $(function () {
           $("#slider").responsiveSlides({
         	  auto: true,
         	  speed: 500,
         	namespace: "callbacks",
         	pager: true,
           });
         });
      </script>
   </head>
   <body>
      <div class="header-top">
         <div class="wrap">
            <div class="cssmenu">
               <ul>
                  <li><a href="/about">About</a></li>
                  |
                  <li><a href="/contact">Contact</a></li>
                  |
                  <% if(user) { %>
                    <li><a href="/users/detail/<%= user[0].id %>">Hi,<%= user[0].username %></a></li>
                    |
                      <% if(user && user[0].name=='admin' || user[0].name=='manager') { %>
                        <li><a href="/admin">Manager</a></li>
                        |
                      <% } %>
                    <li><a href="/users/logout">Logout</a></li>
                  <% } else { %>
                    <li><a href="/users/login">Log In</a></li>
                    |
                    <li><a href="/users/register">Sign Up</a></li>
                  <% } %>
               </ul>
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <div class="header-bottom">
         <div class="wrap">
            <div class="header-bottom-left">
               <div class="logo">
                  <a href="/"><img src="/client/images/logo.png" alt=""/></a>
               </div>
               <div class="menu">
                  <ul class="megamenu skyblue">
                     <li class="active grid"><a href="/">Home</a></li>
                     <li>
                        <a class="color4" href="#">Category</a>
                        <div class="megapanel">
                           <div class="row">
                              <div class="col1">
                                 <div class="h_nav">
                                    <ul>
                                      <% categories.forEach(function(cat) { %>
                                        <li><a href="/products/loai-san-pham/<%= cat.meta_title %>"><%= cat.name %></a></li>
                                      <% }); %>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <a class="color5" href="#">Producer</a>
                        <div class="megapanel">
                           <div class="col1">
                              <div class="h_nav">
                                 <ul>
                                    <% companyProducts.forEach(function(comp) { %>
                                      <li><a href="/products/nha-san-xuat/<%= comp.meta_title %>"><%= comp.name %></a></li>
                                    <% }); %>
                                 </ul>
                              </div>
                            </div>
                        </div>
                     </li>
                     <li><a class="color6" href="/products/all-product">All Product</a></li>
                  </ul>
               </div>
            </div>
            <div class="header-bottom-right">
               <div class="last">
                <div class="cart">
                  <a href="/cart/checkout">
                    <span class="fa fa-shopping-cart my-cart-icon">
                    <span class="badge badge-notify my-cart-badge">
                        <% if(typeof cart !== "undefined") {%>
                          <%= cart.length %>
                        <% }else{ %>
                          0
                        <% } %>
                    </span></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-sm-8">
              <div class="searchPrice">
                  <ul>
                      <li><a href="/products/search-price/50-150">Từ 50$-150$</a></li>
                      <li><a href="/products/search-price/150-250">Từ 150$-250$</a></li>
                      <li><a href="/products/search-price/250-350">Từ 250$-350$</a></li>
                      <li><a href="/products/search-price/350-450">Từ 350$-450$</a></li>
                  </ul>
              </div>
          </div>
        <div class="col-sm-4">
            <form class="navbar-form" role="search" action="/products/search" method="GET">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Nhập tên book" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Tìm kiếm </button>
                    </div>
                </div>
            </form>
         </div>
      </div>
    </div>
      <%- messages('./common/messages', locals) %>
      <% if(errors) {%>
            <% errors.forEach(function(error) { %>
                  <div class="alert alert-danger">
                        <%= error.msg %>
                  </div>
           <% }); %>
      <% } %>


